<?xml version="1.0" encoding="utf-8"?>
<Game xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" configVersion="0">
  <Identity Name="Project1" Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US" Version="1.0.0.0" />
  <ShellVisuals DefaultDisplayName="Project_1" PublisherDisplayName="DefaultCompany" StoreLogo="StoreLogo.png" Square150x150Logo="Logo.png" Square44x44Logo="SmallLogo.png" Description="Project_1" BackgroundColor="#000000" SplashScreenImage="SplashScreen.png" />
  <VirtualMachine />
  <MSAAppId>000000004C26A711</MSAAppId>
  <TitleId>1A81FB73</TitleId>
</Game>